@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: local('Proxima Nova Extra Condensed Regular'), local('Proxima-Nova-Extra-Condensed-Regular'),
        url('ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('ProximaNovaExCn-Regular.woff') format('woff'),
        url('ProximaNovaExCn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: 'Proxima Nova Extra Condensed';
	color: white;
	background-color: rgb(50, 50, 67);
	background-image: linear-gradient(45deg, rgba(0, 0, 17, 0.73), rgba(85, 85, 102, 0.91)), url('img/background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 100vh;

	--global-width: 65%;
	--global-background-color: linear-gradient(45deg, #001, #223);
}

* {
	margin: 0;
}

a {
	color: #aab;
}

.hidden {
	display: none;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

body {
	display: flex;
	flex-direction: column;
}











header {
	height: 80px;
	width: 100%;
	position: relative;
	background: var(--global-background-color);
	top: 0;
	display: flex;
	justify-content: center;
}

nav {
	color: black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: var(--global-width);
	color: white;
	font-size: 1.1em;
}

nav a, .dropdown {
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
}

nav > a, .dropdown, .dropdown > a {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a:hover {
	background: rgba(255, 255, 255, .25);
}

.dropdown {
	display: inline-block;
}

.list a {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 7px;
}

.list {
	background: rgba(0, 0, 17, .75);
	position: absolute;
	display: none;
	min-width: 250px;
	backdrop-filter: blur(2px);
	z-index: 1000;
}

.dropdown:hover .list {
	display: block;
}

.logo {
	position: absolute;
	left: 2%;
	background-image: linear-gradient(45deg, rgba(0, 0, 17, 0.03), rgba(85, 85, 102, 0.21)), url("img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100%;
	width: 150px;
}

.orderns {
	position: absolute;
	right: 2%;
	background-image: linear-gradient(45deg, rgba(0, 0, 17, 0.03), rgba(85, 85, 102, 0.21)), url("img/orderns.png");;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100%;
	width: 110px;
}











main {
	width: 100%;
	height: calc(100vh - 200px - 80px);
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	flex-direction: column;
	position: relative;
	outline: 1px solid orange;
}

.container {
	width: var(--global-width);
	min-height: 50vw;
	/* height: 1px; */
	display: flex;
	justify-content: center;
	margin: 1% 0;
	position: relative;
	outline: 1px solid red;
}

.prod {
	width: 80%;
	/* height: 56.25%; */
	height: 100%;
	display: flex;
	flex-direction: column; 
	position: relative;
	cursor: pointer;
	outline: 1px solid yellow;
}

.crop {
	width: 100%;
	height: 56.25%;
	position: relative;
	outline: 1px solid blue;
}

.crop .img {
	/* display: block; */
	width: 100%;
	height: 100%;
	background-position: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.prod p {
	padding: 15px 0;
	font-size: 1.5em;
	position: relative;
}

.circleContainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	bottom: 10%;
	z-index: 1;
}

.circle {
	cursor: pointer;
	display: inline-block;
	padding: .5% 1%;
	width: 2%;
	display: flex;
	justify-content: center;
}



.contacts {
	display: flex;
	flex-direction: column;
}




















footer {
	background: var(--global-background-color);
	height: 200px;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.footer-container {
	width: calc(var(--global-width) * 0.8);
	height: 50%;
}

.header {
	font-weight: bold;
	font-size: 1.1em;
}

.info {
	display: flex;
	justify-content: space-between;
}

.info div {
	min-width: 90px;
}






